Description: Fixes wrong sqlalchemy requirements
Author: Thomas Goirand <zigo@debian.org>
Forwarded: no
Last-Update: 2013-12-19

--- cinder-2014.1~b1.orig/requirements.txt
+++ cinder-2014.1~b1/requirements.txt
@@ -20,7 +20,7 @@ python-swiftclient>=1.5
 Routes>=1.12.3
 rtslib-fb>=2.1.39
 six>=1.4.1
-SQLAlchemy>=0.7.8,<=0.7.99
+SQLAlchemy>=0.7.8
 sqlalchemy-migrate>=0.8.2
 stevedore>=0.10
 suds>=0.4
