[Unit]
Description=OpenStack Cinder Scheduler
Documentation=http://docs.openstack.org/
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network.service

[Service]
User=cinder
Group=cinder
ExecStart=/etc/init.d/cinder-scheduler systemd-start
ExecStop=/etc/init.d/cinder-scheduler systemd-stop
PIDFile=/var/run/cinder/cinder-scheduler.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target

