#!/bin/sh
set -e

. /usr/share/debconf/confmodule

CINDER_COM_DEF=/etc/default/cinder-common

# Set the debconf value to whatever is in the config file
if [ -f ${CINDER_COM_DEF} ] ; then
    . ${CINDER_COM_DEF}
fi
if ! [ "${CINDER_ENABLE}" = "true" ] ; then
    CINDER_ENABLE=false
fi
db_set cinder-common/start_services ${CINDER_ENABLE}

db_input low cinder-common/start_services || true
db_go

# Write a default config file if it doesn't exist yet
# note that the value will be overwritten by the postinst
if ! [ -f ${CINDER_COM_DEF} ] ; then
    echo "# defaults file for cinder daemons

# start cinder daemons from init.d script?
#  only allowed values are \"true\" and \"false\"
CINDER_ENABLE=true" >${CINDER_COM_DEF}
fi

db_input high nova-common/configure_db || true
db_go

db_get cinder-common/configure_db
if [ "$RET" = "true" ]; then
    if [ -f /usr/share/dbconfig-common/dpkg/config ]
    then
        dbc_dbtypes="sqlite3, mysql, pgsql"
        dbc_authmethod_user="password"
        dbc_basepath="/var/lib/cinder"
        dbc_dbname="cinder"
        . /usr/share/dbconfig-common/dpkg/config
        dbc_go cinder-common $@
    fi
fi
