Source: cinder
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               openstack-pkg-tools (>= 23~),
               po-debconf,
               python-all,
               python-pbr (>= 0.11),
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-anyjson,
                     python-babel,
                     python-barbicanclient (>= 3.0.1),
                     python-coverage,
                     python-crypto,
                     python-eventlet (>= 0.17.3),
                     python-fixtures,
                     python-glanceclient (>= 1:0.18.0),
                     python-greenlet,
                     python-hacking,
                     python-iso8601,
                     python-jinja2,
                     python-keystonemiddleware (>= 1.5.0),
                     python-kombu,
                     python-lxml,
                     python-migrate (>= 0.9.6),
                     python-mock,
                     python-mox,
                     python-mysqldb,
                     python-netaddr,
                     python-novaclient (>= 2:2.22.0),
                     python-os-brick,
                     python-oslo.concurrency (>= 2.0.0),
                     python-oslo.config (>= 1:1.11.0),
                     python-oslo.context (>= 0.2.0),
                     python-oslo.db (>= 1.10.0),
                     python-oslo.i18n (>= 1.5.0),
                     python-oslo.log (>= 1.2.0),
                     python-oslo.messaging (>= 1.8.0),
                     python-oslo.middleware (>= 1.2.0),
                     python-oslo.policy (>= 0.5.0),
                     python-oslo.rootwrap (>= 2.0.0),
                     python-oslo.serialization (>= 1.4.0),
                     python-oslo.utils (>= 1.6.0),
                     python-oslo.versionedobjects (>= 0.3.0),
                     python-oslo.vmware (>= 0.13.1),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.5.1),
                     python-osprofiler,
                     python-paramiko,
                     python-paste,
                     python-pastedeploy,
                     python-psycopg2,
                     python-pyparsing,
                     python-requests (>= 2.5.2),
                     python-retrying,
                     python-routes,
                     python-rtslib-fb,
                     python-six (>= 1.9.0),
                     python-sqlalchemy,
                     python-stevedore (>= 1.5.0),
                     python-swiftclient,
                     python-taskflow (>= 0.7.1),
                     python-tempest-lib (>= 0.4.0),
                     python-testtools,
                     python-webob,
                     subunit,
                     testrepository,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/cinder.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/cinder.git
Homepage: http://cinder.openstack.org/

Package: python-cinder
Section: python
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: python-anyjson,
         python-babel,
         python-barbicanclient (>= 3.0.1),
         python-crypto,
         python-eventlet (>= 0.17.3),
         python-glanceclient (>= 1:0.18.0),
         python-greenlet,
         python-iso8601,
         python-jinja2,
         python-keystonemiddleware (>= 1.5.0),
         python-kombu,
         python-lxml,
         python-migrate (>= 0.9.6),
         python-mysqldb,
         python-netaddr,
         python-novaclient (>= 2:2.22.0),
         python-os-brick,
         python-oslo.concurrency (>= 2.0.0),
         python-oslo.config (>= 1:1.11.0),
         python-oslo.context (>= 0.2.0),
         python-oslo.db (>= 1.10.0),
         python-oslo.i18n (>= 1.5.0),
         python-oslo.log (>= 1.2.0),
         python-oslo.messaging (>= 1.8.0),
         python-oslo.middleware (>= 1.2.0),
         python-oslo.policy (>= 0.5.0),
         python-oslo.rootwrap (>= 2.0.0),
         python-oslo.serialization (>= 1.4.0),
         python-oslo.utils (>= 1.6.0),
         python-oslo.versionedobjects (>= 0.3.0),
         python-oslo.vmware (>= 0.13.1),
         python-osprofiler,
         python-paramiko,
         python-passlib,
         python-paste,
         python-pastedeploy,
         python-pbr (>= 0.11),
         python-pyparsing,
         python-requests (>= 2.5.2),
         python-retrying,
         python-routes,
         python-rtslib-fb,
         python-six (>= 1.9.0),
         python-sqlalchemy,
         python-stevedore (>= 1.5.0),
         python-swiftclient,
         python-taskflow (>= 0.7.1),
         python-webob,
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack block storage system - Python libraries
 Cinder is a block Storage-as-a-Service system for the OpenStack cloud
 computing suite. It re-implements the features of Nova-volume, which it
 directly replaces.
 .
 Cinder uses LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 It also has back-end drivers for many hardware and software storage solutions
 like Ceph, NFS, Net-APP, etc.
 .
 This package contains the Python libraries that are part of Cinder.

Package: cinder-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: adduser,
         dbconfig-common,
         debconf,
         python-cinder (= ${binary:Version}),
         sqlite3,
         ${misc:Depends},
         ${python:Depends},
Provides: ${python:Provides},
Description: OpenStack block storage system - common files
 Cinder is a block Storage-as-a-Service system for the OpenStack cloud
 computing suite. It re-implements the features of Nova-volume, which it
 directly replaces.
 .
 Cinder uses LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 It also has back-end drivers for many hardware and software storage solutions
 like Ceph, NFS, Net-APP, etc.
 .
 This package contains common files and configuration that are
 needed by all the daemon packages of Cinder.

Package: cinder-api
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: adduser,
         cinder-common (= ${binary:Version}),
         debconf,
         python-keystoneclient,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends},
Description: OpenStack block storage system - API server
 Cinder is a block Storage-as-a-Service system for the OpenStack cloud
 computing suite. It re-implements the features of Nova-volume, which it
 directly replaces.
 .
 Cinder uses LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 It also has back-end drivers for many hardware and software storage solutions
 like Ceph, NFS, Net-APP, etc.
 .
 This package contains the API server on which clients will connect.

Package: cinder-volume
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: adduser,
         cinder-common (= ${binary:Version}),
         lvm2,
         qemu-utils,
         tgt (>= 1:1.0.17-1.1~),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends},
Suggests: ceph-common,
Description: OpenStack block storage system - Volume server
 Cinder is a block Storage-as-a-Service system for the OpenStack cloud
 computing suite. It re-implements the features of Nova-volume, which it
 directly replaces.
 .
 Cinder uses LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 It also has back-end drivers for many hardware and software storage solutions
 like Ceph, NFS, Net-APP, etc.
 .
 This package contains the Volume server which will actually do the storage.

Package: cinder-scheduler
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: cinder-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends},
Description: OpenStack block storage system - Scheduler server
 Cinder is a block Storage-as-a-Service system for the OpenStack cloud
 computing suite. It re-implements the features of Nova-volume, which it
 directly replaces.
 .
 Cinder uses LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 It also has back-end drivers for many hardware and software storage solutions
 like Ceph, NFS, Net-APP, etc.
 .
 This package contains the Scheduler server.

Package: cinder-backup
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: adduser,
         cinder-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends},
Description: OpenStack block storage system - Backup server
 Cinder is a block Storage-as-a-Service system for the OpenStack cloud
 computing suite. It re-implements the features of Nova-volume, which it
 directly replaces.
 .
 Cinder uses LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 It also has back-end drivers for many hardware and software storage solutions
 like Ceph, NFS, Net-APP, etc.
 .
 This package contains the Cinder backup service.
