Source: cinder
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 8.0.0),
               openstack-pkg-tools,
               po-debconf,
               python-all (>= 2.6.6-3~),
               python-d2to1,
               python-pbr (>= 0.5.21)
Build-Depends-Indep: pep8 (>= 1.3.3),
                     pylint,
                     python-amqplib,
                     python-anyjson,
                     python-argparse,
                     python-babel (>= 1.3),
                     python-cheetah,
                     python-coverage,
                     python-daemon,
                     python-eventlet (>= 0.13.0),
                     python-fixtures (>= 0.3.12),
                     python-glanceclient (>= 1:0.9.0),
                     python-greenlet (>= 0.3.2),
                     python-hp3parclient (>= 2.0),
                     python-iso8601,
                     python-keystoneclient (>= 1:0.3.0),
                     python-kombu (>= 2.5.12),
                     python-lockfile,
                     python-lxml,
                     python-migrate,
                     python-mock (>= 1.0),
                     python-mox,
                     python-mysqldb,
                     python-netaddr,
                     python-nose,
                     python-novaclient (>= 2:2.15.0),
                     python-oslo.config,
                     python-oslo.sphinx,
                     python-paramiko (>= 1.8.0),
                     python-paste,
                     python-pastedeploy,
                     python-psycopg2,
                     python-routes,
                     python-rtslib,
                     python-setuptools,
                     python-setuptools-git,
                     python-six,
                     python-sphinx,
                     python-sqlalchemy,
                     python-stevedore (>= 0.10),
                     python-subunit,
                     python-suds,
                     python-swiftclient (>= 1:1.6.0),
                     python-testtools (>= 0.9.32),
                     python-webob (>= 1.2.3),
                     testrepository (>= 0.0.17)
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/cinder.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/cinder.git
Homepage: http://cinder.openstack.org/

Package: python-cinder
Section: python
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-amqplib,
         python-anyjson,
         python-argparse,
         python-babel,
         python-cheetah,
         python-daemon,
         python-eventlet (>= 0.13.0),
         python-glanceclient (>= 1:0.9.0),
         python-greenlet (>= 0.3.2),
         python-iso8601,
         python-keystoneclient (>= 1:0.3.0),
         python-kombu (>= 2.5.12),
         python-lockfile,
         python-lxml,
         python-migrate,
         python-mysqldb,
         python-netaddr,
         python-novaclient (>= 2:2.15.0),
         python-oslo.config,
         python-paramiko (>= 1.8.0),
         python-paste,
         python-pastedeploy,
         python-routes,
         python-rtslib,
         python-six,
         python-sqlalchemy,
         python-stevedore (>= 0.10),
         python-suds,
         python-swiftclient (>= 1:1.6.0),
         python-webob (>= 1.2.3),
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack block storage system - Python libraries
 Cinder is a block storage as service system for the Openstack cloud computing
 suite. It re-implements the features of nova-volume, which it directly
 replaces.
 .
 Cinder use LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 .
 This package contains the Python libraries that are parts of Cinder.

Package: cinder-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dbconfig-common,
         debconf,
         python-cinder (= ${binary:Version}),
         sqlite3,
         ${misc:Depends},
         ${python:Depends}
Provides: ${python:Provides}
Description: OpenStack block storage system - common files
 Cinder is a block storage as service system for the Openstack cloud computing
 suite. It re-implements the features of nova-volume, which it directly
 replaces.
 .
 Cinder use LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 .
 This package contains common files and configuration that are
 needed by all the daemon packages of Cinder.

Package: cinder-api
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         cinder-common (= ${binary:Version}),
         debconf,
         python-keystoneclient,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack block storage system - API server
 Cinder is a block storage as service system for the Openstack cloud computing
 suite. It re-implements the features of nova-volume, which it directly
 replaces.
 .
 Cinder use LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 .
 This package contains the API server on which client will connect.

Package: cinder-volume
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         cinder-common (= ${binary:Version}),
         lvm2,
         qemu-utils,
         tgt,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Suggests: ceph-common
Description: OpenStack block storage system - Volume server
 Cinder is a block storage as service system for the Openstack cloud computing
 suite. It re-implements the features of nova-volume, which it directly
 replaces.
 .
 Cinder use LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 .
 This package contains the Volume server which will actually do the storage.

Package: cinder-scheduler
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: cinder-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack block storage system - Scheduler server
 Cinder is a block storage as service system for the Openstack cloud computing
 suite. It re-implements the features of nova-volume, which it directly
 replaces.
 .
 Cinder use LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 .
 This package contains the Scheduler server.

Package: cinder-backup
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         cinder-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack block storage system - Backup server
 Cinder is a block storage as service system for the Openstack cloud computing
 suite. It re-implements the features of nova-volume, which it directly
 replaces.
 .
 Cinder use LVM partitions of your volume servers in order to provide iSCSI
 permanent block storage devices for your virtual machines running on Nova.
 .
 This package contains the Cinder backup service.
